{% load static%}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Notes</title>
		<link
			rel="stylesheet"
			type="text/css"
			href="{% static 'styles/css/notesList_style.css' %}"
		/>
	</head>
	<body>
		<h1>These are Notes titles</h1>

		<ul>
			{% for note in notes_obj %}
			<li>
				<a
					class="my-notesTitle"
					href="{% url 'notes.eachone' pk=note.id %}"
					>{{note.title}}</a
				>
			</li>
			<br /><br />

			{% endfor %}
			<div class="general-routeBox">
				<a href="{% url 'app.mainpage' %}" class="general-routes"
					>Home</a
				>
			</div>
		</ul>
	</body>
</html>
