body {
	background-color: #9acd3250;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.book-section {
	margin: 3rem auto;
	width: 60rem;
	border: 3px solid white;
	background-color: #9acd3280;
}
.book-name {
	text-align: center;
	font-family: "Courier New", Courier, monospace;
}
.book-describtion {
	text-align: justify;
	padding: 2rem;
}
.book-avalability-check {
	padding: 0.5rem;
}
.book-copies {
	padding: 0.5rem;
}
.book-price {
	padding: 0.5rem;
}
p {
	font-size: large;
}
